<a href="https://colab.research.google.com/github/shimossa/ISYS5002_ELP_2021/blob/main/ISYS5002_ELP_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ELP Question Two

In [ ]:
def get_url(search_term, template): # A function that passes through the search_term and template arguments
 search_term = search_term.replace(' ', '+') # Defines the variable search_term where the blanks are replaced with a +
 url = template.format(search_term) # formats the url with the parameters defined in search_term
 url += '&page={}' # adds '&page={}' to the end of the url
 return url # stores the url generated in the function to be called

##ELP Question Three

"Calculate a car’s fuel economy after
reading in the distance travelled and amount of petrol used." 


The fuel economy is
calculated by the following formula:

*kmPerLitre = kilometers / litres.*

#Original Code
```
def efficiency(dist, gas)
 return dist/gas

km = input ("How far did your car travel? (In kilometers?) )
liters = input ("How much gas did you use? (In liters)"
MPG = efficiency(dist_traveled, Liters)
print MPG
```

In [ ]:
def efficiency(dist_traveled, fuel): #Added a colon to define the function (Syntax Error)
 return dist_traveled/fuel #Fixed logic errors by making varieables consistent

dist_traveled = int(input("How far did your car travel? (In kilometers?) ")) #Closed the quotation (Syntax Error), changed variable name (Logic)
fuel = int(input("How much fuel did you use? (In liters) ")) #Closed the quotation (Syntax Error), changed variable name (Logic)
kpl = efficiency(dist_traveled, fuel) #Changed variable name for consistency (Km/L) and fixed the variables (logic errors)
print("Your fuel economy was " + str(kpl) + "Km/L") #Fixed syntax error and enhanced the display of the output

How far did your car travel? (In kilometers?) 56
How much fuel did you use? (In liters) 23
Your fuel economy was 2.4347826086956523Km/L

##ELP Question Three

*Write a program the reads in sales.csv and calculates the maximum, minimum and average
profit for each country in the Australia and Oceania region. For each country in the
Australia and Oceania region the plot their total profit*

**Problem Statement**
"Calculate the Max, Min, Ave for the Ocenania region and plot the total profit of the countries in that region"

**Development**
1.   Input: CSV file
2.   Output: min, max, average and total on a table, plot of the totals
3. Processing: pandas

**Algorithm**
1. read the csv file
2. copy the table 
3. fix NaN data / clean the data
4. filter the OCE/AUS countries
5. for the OCE/AUS countries find the min, max and average profit
6. Display the new data on a table and save it 
7. plot the total profit for those countries in that region

In [1]:
# import libraries 
import pandas as pd
import csv 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read the csv file 
df = pd.read_csv('sales.csv')
df

                               Region  ... Total Profit
0               Australia and Oceania  ...    951410.50
1   Central America and the Caribbean  ...    248406.36
2                              Europe  ...    224598.75
3                  Sub-Saharan Africa  ...     19525.82
4                  Sub-Saharan Africa  ...    639077.50
..                                ...  ...          ...
95                 Sub-Saharan Africa  ...     65214.72
96                               Asia  ...     15103.47
97                 Sub-Saharan Africa  ...     93748.05
98                      North America  ...    144521.02
99                 Sub-Saharan Africa  ...    889472.91

[100 rows x 14 columns]

In [3]:
#filter to the OCE/AUS region
oce_df = df.loc[df['Region'] == 'Australia and Oceania']

#Reset the index to clean the data and drop the old index
oce_df = oce_df.reset_index(drop=True)

oce_df

                   Region  ... Total Profit
0   Australia and Oceania  ...    951410.50
1   Australia and Oceania  ...    285087.64
2   Australia and Oceania  ...    337937.60
3   Australia and Oceania  ...      5270.67
4   Australia and Oceania  ...     13009.18
5   Australia and Oceania  ...    369155.00
6   Australia and Oceania  ...    727423.20
7   Australia and Oceania  ...     60418.38
8   Australia and Oceania  ...    146875.14
9   Australia and Oceania  ...   1678540.98
10  Australia and Oceania  ...    147031.74

[11 rows x 14 columns]

In [4]:
#Finding the max, min and average values
column = oce_df["Total Profit"]
max_value = column.max()
min_value = column.min()
ave_value = column.mean()


print(max_value)
print(min_value)
print(ave_value)

1678540.98
5270.67
429287.27545454545

In [5]:
#Sorting data in a way to display it using columns, however need the name of the country at least.
col_max = oce_df["Total Profit"].max(axis=0)
col_max

1678540.98

In [6]:
cols = list(oce_df.columns.values)
oce_df = oce_df[cols[1:12]+cols[0]]

TypeError: ignored

In [7]:
#Sorting data in a way to display it using groupby
organised_data = oce_df.groupby(["Total Profit"]).max().sort_values('Total Profit', ascending=False)


organised_data

                             Region  ...  Total Cost
Total Profit                         ...
1678540.98    Australia and Oceania  ...  2542187.82
951410.50     Australia and Oceania  ...  1582243.50
727423.20     Australia and Oceania  ...   354995.20
369155.00     Australia and Oceania  ...  1534983.04
337937.60     Australia and Oceania  ...  2154588.52
285087.64     Australia and Oceania  ...   474115.08
147031.74     Australia and Oceania  ...   298476.31
146875.14     Australia and Oceania  ...   298158.41
60418.38      Australia and Oceania  ...    79869.02
13009.18      Australia and Oceania  ...    37354.16
5270.67       Australia and Oceania  ...    15134.04

[11 rows x 13 columns]

In [8]:
organised_data.to_csv('sales_fixed.csv')

In [9]:
dff = pd.read_csv('sales_fixed.csv')

In [10]:
#using concat to get the max and min
max_min = pd.concat([dff.head(1), dff.tail(1)])
max_min

    Total Profit                 Region  ... Total Revenue  Total Cost
0     1678540.98  Australia and Oceania  ...    4220728.80  2542187.82
10       5270.67  Australia and Oceania  ...      20404.71    15134.04

[2 rows x 14 columns]

In [ ]:
#Attempt 2 to isolate the top and bottom values
max = dff.head(1)["Total Profit"]
min = dff.tail(1)["Total Profit"]

print("your max value is" + max)
print(min)

In [13]:
cols = list(oce_df.columns.values)
organised_data = organised_data[cols[0:11]+[cols[12]]]
organised_data

                             Region  ...  Total Cost
Total Profit                         ...
1678540.98    Australia and Oceania  ...  2542187.82
951410.50     Australia and Oceania  ...  1582243.50
727423.20     Australia and Oceania  ...   354995.20
369155.00     Australia and Oceania  ...  1534983.04
337937.60     Australia and Oceania  ...  2154588.52
285087.64     Australia and Oceania  ...   474115.08
147031.74     Australia and Oceania  ...   298476.31
146875.14     Australia and Oceania  ...   298158.41
60418.38      Australia and Oceania  ...    79869.02
13009.18      Australia and Oceania  ...    37354.16
5270.67       Australia and Oceania  ...    15134.04

[11 rows x 12 columns]

In [14]:
oce_mean_profit = oce_df["Total Profit"].mean()

mean_profit = round(oce_mean_profit, 2)

mean_profit

429287.28

In [15]:
print(organised_data)

print(mean_profit)

                             Region  ...  Total Cost
Total Profit                         ...
1678540.98    Australia and Oceania  ...  2542187.82
951410.50     Australia and Oceania  ...  1582243.50
727423.20     Australia and Oceania  ...   354995.20
369155.00     Australia and Oceania  ...  1534983.04
337937.60     Australia and Oceania  ...  2154588.52
285087.64     Australia and Oceania  ...   474115.08
147031.74     Australia and Oceania  ...   298476.31
146875.14     Australia and Oceania  ...   298158.41
60418.38      Australia and Oceania  ...    79869.02
13009.18      Australia and Oceania  ...    37354.16
5270.67       Australia and Oceania  ...    15134.04

[11 rows x 12 columns]
429287.28

In [16]:
#Using iloc to find the data for max and min profit 
max_prof = dff.iloc[0,0]
max_country = dff.iloc[0,1]
min_prof = dff.iloc[10,0]
min_country = dff.iloc[10,1]
mean_prof = round(dff["Total Profit"].mean(),2)

print(max_country + str(max_prof))
print(min_country + str(min_prof))
print("The average for the total profit for the region is " + str(mean_prof))

Australia and Oceania1678540.98
Australia and Oceania5270.67
The average for the total profit for the region is 429287.28